<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <!-- Required meta tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Ai写作助手</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/editormd.css" />
  <!-- <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" /> -->
  <style>
 

  </style>
</head>

<body>

  
  <nav class="navbar  navbar-expand-lg   navbar-dark bg-primary">
    <a class="navbar-brand" href="/list?label=2">Ai知识标注工具</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            更多
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/list/rel?label=2&type=&state=2">关系词(状态2)</a>
            <a class="dropdown-item" href="/list/rel?label=2&type=&state=1">关系词(状态1)</a>
            <a class="dropdown-item" href="/list/rel?label=2&type=">关系词(状态None)</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>

      
    </div>

    <form class="form-inline my-2 my-lg-0" action="/list" method="get">

      <label for="inputState">label</label>
      <select id="inputState" name="label" class="form-control">
        <option selected value="2">label 2...</option>
        <option  value="1">label 1...</option>
      </select>
      <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
 


<header></header>





  <script src="/static/js/jquery.min.js"></script>
  <!-- <script src="/static/editor.md/editormd.min.js"></script> -->
  <script type="text/javascript">

  function closePage() {

    var userAgent = navigator.userAgent;

    if (userAgent.indexOf("Firefox") != -1 || userAgent.indexOf("Chrome") != -1) {// Firefox或Chrome中关闭

      window.location.href = "about: blank";

    } else {

      window.opener = null;

      window.open("", "_self");

      window.close();

    }

    if (WeixinJSBridge) {// 微信中关闭

      WeixinJSBridge.call('closeWindow');

    }

  }





     var willClose = true;
      function close(){
        // window.opener=null;
        // window.open('','_self');
        window.close();
      }
        function clickBody(){
            willClose = false;

        }
        // setInterval(function(){
        //   console.log("1s")
        //     if(willClose){
        //       window.open('#111','_self');
        //       window.close();    
        //         // close()
        //     }else{
        //         willClose = true;
        //     }
        // }, 1000);

  </script>
  <div class="container"  onclick="clickBody()">
    <!-- {{data}} -->
    <!-- Content here -->

    <div class="card" style="">
      <div class="card-body">
        <h5 class="card-title">    {{data['kg']}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">  label:  {{data['label']}}</h6>
        <p class="card-text" style="font-size: 1.4em;">
          状态:{{data['state']}}<br>
          预测概率    <br>
          {% for pre in data['pre'] %}
          {{  pre[0]}}  | {{pre[1]}}
          <br>
            {%- endfor %}
            <br>
            <br>
            <br>
          {{data['sentence']}}
        
        </p>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
        <button  type="button" onclick="closePage();"  class="btn btn-danger btn-lg btn-block upkg">关闭</button>

        <a  type="button"   href="/edit_submit/{{data['key']}}/1" class="btn btn-primary btn-lg btn-block">不是</a>

        <a  type="button"   href="/edit_submit/{{data['key']}}/2"  class="btn btn-success btn-lg btn-block ">是</a>

        <a  type="button"   href="/list/2/{{data['key']}}"  class="btn btn-light btn-lg btn-block">返回列表</a>
      </div>
    </div>

 


  </div>
 

</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>