<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <!-- Required meta tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Ai写作助手</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/editormd.css" />
  <!-- <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" /> -->
  <style>
/* .btn {
    background-color: rebeccapurple;
    color: #fff;
} */


  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-lg  navbar-dark bg-primary">
    <a class="navbar-brand" href="/list?label=2">Ai知识标注工具</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            更多
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/list/rel?label=2&type=&state=2">关系词(状态2)</a>
            <a class="dropdown-item" href="/list/rel?label=2&type=&state=1">关系词(状态1)</a>
            <a class="dropdown-item" href="/list/rel?label=2&type=">关系词(状态None)</a>
            <a class="dropdown-item" href="/add/text">添加文本</a>
            <a class="dropdown-item" href="/add/article">添加文章</a>
            <a class="dropdown-item" href="/add/text">添加文本</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>

      
    </div>

    <form class="form-inline my-2 my-lg-0" action="/list" method="get">
      <label for="inputState">check</label>
      <select id="inputState" name="check" class="form-control">
        <option selected value="">状态None.</option>
        <option  value="True">状态True...</option>
      </select>
      <label for="inputState">state</label>
      <select id="inputState" name="state" class="form-control">
        <option selected value="2">state 2...</option>
        <option  value="1">state 1...</option>
        <option  value="4">state 3...</option>
      </select>
      <label for="inputState">label</label>
      <select id="inputState" name="label" class="form-control">
        <option selected value="2">label 2...</option>
        <option  value="1">label 1...</option>
      </select>
      <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
 
<!-- 
    <header>
      <h1>Ai  数据构建助手</h1>
    </header> -->
 
 
 
  <script src="/static/js/jquery.min.js"></script>
  <!-- <script src="/static/editor.md/editormd.min.js"></script> -->
  <script type="text/javascript">
 

// 获取关键词
$(document).on('click', '.upkg', function () {
      var key = $(this).data('key');
      var value = $(this).data('value');
      // var keywords =$("#keywords").val()
      // var content = $("#content").val()
      // var contentfull=title+"。"+content

       $.get("/json/edit_submit", {
        // 'text': text + "", 'plen': plen, 'n': n
          'key': key,
          'label': value
      })
        .done(function (data) {
          console.log(data)
        //   keywords_text=''
        //   $.each(data, function (index,value){
        //     keywords_text=keywords_text+value['word']+"，"
        //   })
        //   keywords_text=keywords_text+"。"
          $("#"+key+" .label").html(data.label)
          $("#"+key+" .state").html(data.state)
          
          $("#"+key).addClass("kgsuccess")

        //   // plist(data.items)
        });

})


 

  </script>
  <div id="list_all" class="container">
    <!-- Content here -->
    <p class="check">    
  已标记:    {{checked}} </br>
  {{state}}状态下未标记: {{uncheck}}

    </p>



    <div class="list-group">
 
      {% for k,item in items %}
      <div id="{{k}}"   class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">知识:
 
            <!-- {{item['kg']}} -->
            
            {% for kg in  item['kg'] %}

            <a  type="button"   href="/list?state=2&keyword={{kg}}"  class="kg_rel">{{kg}}</a>__

              {%- endfor %} 

          </h5>
          <!-- <small class="text-muted">3 days ago</small> -->
        </div>
        <p class="mb-1">label:<span class="label">{{item['label']}}</span></p>
        <p class="mb-1">     
          key:{{k}} <br>
          状态:
          <span class="state">{{item['state']}}</span>
          <br>
            预测概率    <br>
 
          {{   item['pre'][1] [0]}}  | {{ item['pre'][1] [1]}}
          <br>
 
          </p>
        <p class="mb-1">{{item['sentence_mark']  | safe }}}</p>
        <a  type="button" rel="nofollow"   href="/add?s={{item['sentence']}}&kg1={{item['kg'][0]}}&kg2={{item['kg'][1]}}&kg3={{item['kg'][2]}}"  target="new_view_window" class="btn btn-light ">添加</a>
        <a  type="button" rel="nofollow"   href="/edit_submit/{{k}}/{{item['label']}}"  target="new_view_window" class="btn btn-light ">编辑</a>
        <!-- <small class="text-muted">Donec id elit non mi porta.</small> -->
        <button  type="button" data-value='1' data-key="{{k}}"  class="btn btn-primary btn-lg btn-block upkg">不是</button>
        <button  type="button" data-value='2' data-key="{{k}}"   class="btn btn-secondary btn-lg btn-block upkg">是</button>
      
      </div>
 

      {%- endfor %}
    </div>









 
<div class="btn-paper" role="" aria-label="B">
  <a  type="button"   href="/list?label={{request.args['label']}}&keyword={{request.args['keyword']}}&state={{request.args['state']}}&type={{request.args['type']}}&start={{items[-1][0]}}"  class="btn btn-light btn-lg btn-block">下一页</a>
</div>

  </div>
 
 
</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>