<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <!-- Required meta tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Ai写作助手</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/editormd.css" />
  <!-- <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" /> -->
  <style>
/* .btn {
    background-color: rebeccapurple;
    color: #fff;
} */


  </style>
</head>

<body>
   
 
<!-- 
    <header>
      <h1>Ai  数据构建助手</h1>
    </header> -->
 
 
 
  <script src="/static/js/jquery.min.js"></script>
  <!-- <script src="/static/editor.md/editormd.min.js"></script> -->
  <script type="text/javascript">
 

// 获取关键词
$(document).on('click', '.upkg', function () {
      var key = $(this).data('key');
      var value = $(this).data('value');
      // var keywords =$("#keywords").val()
      // var content = $("#content").val()
      // var contentfull=title+"。"+content

       $.get("/json/edit_submit", {
        // 'text': text + "", 'plen': plen, 'n': n
          'key': key,
          'label': value
      })
        .done(function (data) {
          console.log(data)
        //   keywords_text=''
        //   $.each(data, function (index,value){
        //     keywords_text=keywords_text+value['word']+"，"
        //   })
        //   keywords_text=keywords_text+"。"
          $("#"+key+" .label").html(data.label)
          $("#"+key+" .state").html(data.state)
          
          $("#"+key).addClass("kgsuccess")

        //   // plist(data.items)
        });

})


 

  </script>
  <div id="list_all" class="container">
    <!-- Content here -->





    <div class="list-group">
 
      {% for k,item in items %}
      <div id="{{k}}"   class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">知识:
 
            <!-- {{item['kg']}} -->
            
            {% for kg in item['kg'] %}

                   {{kg}},

              {%- endfor %} 

          </h5>
          <!-- <small class="text-muted">3 days ago</small> -->
        </div>
        <p class="mb-1">label:<span class="label">{{item['label']}}</span></p>
        <p class="mb-1">     
          key:{{k}} <br>
          状态:
          <span class="state">{{item['state']}}</span>
    
          </p>

        <a  type="button"   href="/page/{{k}}"  target="new_view_window" class="btn btn-light ">
          {{item['sentence']}}
        
        </a>


      
      </div>
 

      {%- endfor %}
    </div>









 
<div class="btn-paper" role="" aria-label="B">
  <a  type="button"   href="/page?start={{items[-1][0]}}"  class="btn btn-light btn-lg btn-block">下一页</a>
</div>

  </div>
 
 
</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>